body {
  background-color: rgb(36, 36, 88) ;
}


   
    
 

  #button1 {
    
    color: whitesmoke;
    text-decoration: none;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(36, 36, 88);

  }

  

  button:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 10px rgba(255, 255, 255, 1);
  }

 

  .carousel-slide {
    position: relative;
  }

  

   img {
    max-height: 600px;
  }

  #caption1 {
    position: absolute;
    top: 20px;
  }

  #caption2 {
    display: none;
  }

  #answerbox {
    display: none;
    margin: auto;
    position: absolute;
    top: 200px;
    right: 540px;
  }
  
 

  


 .btn {
   margin: 6px;
   width: 320px;
   height: 100px;
   
 }

 




#seconds {
  
  position: absolute;
  top: 10px;
	width: 2%;
	font-size: 150px;
}

#btncon1 {
  position: absolute;
  bottom: 200px;
  display: none;
  background-color: transparent;
}

.btncon {
  margin: 0;
  position: absolute;
  bottom: 200px;
  background-color: transparent;
}

#scoreCount {
  position: absolute;
  left: 980px;
  top: 50px;
	font-size: 100px;
  

}



  

  